.contenedor{
    border: 3px solid black;
    width: 90%;
    height: 900px;
    margin-left: 90px;
    position: relative;
}
.antena{
    position: absolute;
    border: 2px solid black;
    width: 1px;
    height: 30px;
    margin-top: 8px;
    margin-left: 819px;
}
.cabeza{
    border: 2px solid black;
    width: 100px;
    height: 100px;
    margin-left: 45%;
    margin-top: 40px;
    position: relative;
}
.ojoderecho{
position: absolute;
border: 2px  solid black;
width: 20px;
height: 20px;
left: 15px;
top: 20px;
background-color: rgb(31, 96, 96);
}
.ojoizquierdo{
position: absolute;
border: 2px  solid black;
width: 20px;
height: 20px;
right: 15px;
top: 20px;
background-color: rgb(31, 96, 96);
}
.boca{
position: absolute;
border: 4px solid red;
width: 25px;
height: 5px;
bottom: 20px;
left: 34%;
}
.torzo{
border: 3px solid black;
width: 230px;
height: 300px;
margin-left: 41%;    
}
.brazoder{
    position: absolute;
    border: 3px solid black;
    width: 150px;
    height: 20px;
    margin-top: 38px;
    margin-left: -156px;
}
.brazoizq{
    position: absolute;
    border: 3px solid black;
    width: 150px;
    height: 20px;
    margin-top: 38px;
    margin-left: 230px;
}
.piernader{
    position: absolute;
    border: 3px solid black;
    width:20px;
    height: 130px;
    margin-top: 300px;
    margin-left: 50px;
}
.piernaizq{
    position: absolute;
    border: 3px solid black;
    width:20px;
    height: 130px;
    margin-top: 300px;
    margin-left: 158px;
}