
.body {
   
    background-color:hsl(0, 0%, 16%);
}

.container-navbar {
   margin-top: -10px;
   
padding-top: 10px;
   padding-bottom: 10px;
   background-color: #d10000;
   position: fixed;
   top: 10px;
   left: 0;
   z-index: 9999;
}

.card-body{
    background-color:#535971;
    width: 200px;
}
.card-text{
    color:#ffffff;
}
.card-title {
    color: #ffffff;
}
.anio {
    color: #ffffff;
}
.text{
    color: #ffffff;
}
.carousel-inner{
    border-radius: 10px;
    
    margin-bottom: 20px;
}

.estrella3 {
    height: 25px;
    width: 25px;
}

.container row {
    align-content: space-between;
}

.pacman {
    height: 60px;
    width: 60px;
    
    border-top: 100px solid yellow ;
    border-right: 100px  solid transparent;
    border-bottom:100px solid yellow ;
    border-left: 100px solid yellow ;
    border-radius: 50%;
    margin: auto;
    filter: drop-shadow(0 0 3px);
    position: relative;
}
.pacman::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 50%;
    top: -50px;
    left: -20px;

}
.circle{
    z-index: -1;
    position: absolute;
    top: -100px;
    left: -100px;
    border-radius: 50%;
    transform: rotate(268deg);
    border-top:100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 100px solid yellow;
    border-left: 100px solid yellow;
    animation: rotate .5s infinite alternate ;
}
.contenedorJuegos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.container-navbar {
    margin-top: -10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #D10000;
    position: fixed;
    top: 10px;
    left: 0;
    z-index: 9999;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}
@media screen{
    .body{
       max-width: 100%;
        margin: 10px;
        overflow-x: hidden;
    }
    
    .pacman{
        height: 5px;
        width: 5px;
        margin-bottom: 20px;
    }
    
}



